<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magnolia DXP Documentation</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <link rel="icon" href="{{{uiRootPath}}}/img/mgnl-favicon-darkTeal-32.png" type="image/png">
  {{> header-scripts}}
  {{> head-scripts}}
  <style>
    :root {
        --lora: 'Lora', serif !important;
        --fresh: #E2F0E4;
        --darkTeal: #02373F;
        --green: #068449;
        --blue: #0569F9;
    }


    .hero-body {
      flex-grow: 0!important;
    }

    .hero.has-image .hero-body {
      background-image: url("{{{uiRootPath}}}/img/core-visual-hero-books.png");
      background-repeat: no-repeat;
      background-size: 1034px 546px;
      background-position: 100px top;
      background-position: right -250px top 0;
      padding-bottom: 100px!important;
    }

    .hero.is-white :where(.subtitle, .paragraph) {
      color:  #003740;
    }

  
    .titled {
      font-family: var(--lora)!important;
      font-size: 68px !important;
      font-weight: 400 !important;
      line-height: 102px !important;
    }

    .paragraph {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    .subtitled {
      font-family: var(--lora)!important;
      font-size: 48px !important;
      font-weight: 700 !important;
      line-height: 52px !important;
      margin-bottom: 2rem!important;
    }

    #docsearch.container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .DocSearch-Button-Container {
        margin-left: auto;
        width: 113px;
        height: 100%;
        background-color: var(--green);
        justify-content: center;
    }

    .DocSearch-Button-Container svg path {
      stroke: white;
    }

    .DocSearch-Button-Placeholder, .DocSearch-Button-Keys {
      display: none;
    }


    button.DocSearch.DocSearch-Button {
      width: 100% !important;
      height: 113px !important;
      background-color: white!important;
      border-radius: 0;
      margin: 0;
      padding: 0!important;
      position: relative;
    }

    button.DocSearch.DocSearch:after {
      position: absolute;
      content: "What can we help you find?";
      left: 45px;
      font-size: 2rem;
      width: auto;
      height: auto;
    }

    @media(max-width: 768px) {
      button.DocSearch.DocSearch:after {
        font-size: 1.5rem;
      }
    }

    @media(max-width: 600px) {
      button.DocSearch.DocSearch:after {
        font-size: 1rem;
      }
    }

    @media(max-width: 467px) {
      button.DocSearch.DocSearch:after {
        content: "Search";
        font-size: 1.2rem;
      }
    }

     .button {
      border-radius: 0!important;
    }

    h1.title.titled {
      color: var(--darkTeal)!important;
      line-height: 1.1 !important;
    }

    .h3 {
      font-size: 32px;
      font-family: var(--lora);
      font-weight: 700;
      color: var(--darkTeal);
      margin-bottom: 24px;
    }

    .h3.h3--green {
      color: var(--green);
    }
    
    button.button {
      background-color: #0569f9 !important;
      transition: 0.3s ease;
    }

    button.button:hover {
      background-color: #0569f9 !important;
    }

    .navbar-item {
      font-size: large;
    }

    .navbar-item img {
      max-width: 217px;
      max-height: none !important;
      width: 100%;
    }

    a.navbar-item {
      color: #02373f !important;
    }

    a.navbar-item:hover {
      color: #0569f9 !important;
      background-color: transparent !important;
    }

    a.navbar-item:focus {
      background-color: transparent !important;
    }

    #hero-header {
      color: var(--darkTeal) !important;
      text-align: left!important;
    }

    section.hero .hero-body {
      background-color: var(--fresh)!important;
    }

    section.hero.is-white .hero-body {
      background-color: white!important;
    }

    .card-x {
       box-shadow: 4px 4px 0px 0px #F0EEE7;
       padding: 24px;
       border: 1px solid #F0EEE7;
       display: flex;
       flex-direction: column;
       height: 100%;
       transition: border-color .3s ease-in-out;

    }

    .card-x:hover {
      border-color: var(--darkTeal);
      box-shadow: none;
    }

    .card-x .card-x__p {
      font-size: 22px;
      line-height: 32px;
    }

    .card-x__link-w {
      padding-top: 24px;
      margin-top: auto;
    }

    .link:not(.link-button) {
      font-size: 20px!important;
      color: var(--blue)!important;
      font-weight: 500;
      padding: 0!important;
      padding-right: 30px!important;
      transition: all ease-in-out .3s;
    }

    .link:hover {
      padding-left: 10px!important;
    }

    .link:not(.link-button--no-arrow)::after {
      width: 20px;
      height: 20px;
      color: white!important;
      background-color: var(--blue)!important;
      border-radius: 50%;
      content: "";
      position: absolute;
      right: 0;
    }

    .link:not(.link-button--no-arrow)::before {
      right: 8px!important;
      top: 45%!important;
      color: white;
    }

    #get-to-know-magnolia {
      margin-top: -6rem;
      opacity: 0.1 !important;
    }

    a.button {
      background-color: #0569f9 !important;
      color: whitesmoke;
      text-decoration: none !important;
      transition: 0.3s ease;
      display: inline-block;
    }

    a.button:hover {
      opacity: 0.8;
    }

     @media(max-width: 750px) {
      a.button {
        display: block;
        margin: 5px;
      }
    }

    span#typewriter {
      color: var(--darkTeal)!important;
    }

    .first-col {
      margin-bottom: 200px!important;
    }

    .columns-breaker {
      flex-wrap: wrap;
    }

    .columns {
      margin-top: 0!important;
    }


    .footer {
      border-top: 3px solid #068449 !important;
    }

    .footer-banner {
      background-color: var(--fresh);
      color: var(--darkTeal);
      padding: 90px 0;
    }

    .footer-banner .h1 {
      font-size: 56px;
      color: var(--lora);
      font-weight: 700;
      margin-bottom: 2rem;
    }


    .columns:last-child {
      margin-bottom: 0!important;
    }



     @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

     @media print, screen and (max-width: 768px) {
      .hero.is-medium .hero-body {
          padding: 40px 20px!important;
      }

      button.DocSearch.DocSearch-Button {
        height: 60px!important;
      }

       h1.title.titled {
        font-size: 40px!important;
      }
    }

    @media print, screen and (min-width: 769px) {
      .hero.is-medium  .hero-body {
          padding: 100px 0!important;
      }
    }


     @media (max-width: 1215px) and (max-width: 768px) {
      .hero.has-image .hero-body {
       background-image: none;
      }

    }


    @media (max-width: 1215px) and (min-width: 769px) {
      .hero.has-image .hero-body {
        background-size: 682px 360px;
      }
    }

    @media screen and (max-width:1023px) {
      h2, h2.subtitled {
        font-size: 30px!important;
        line-height: initial!important;
      }

      .first-col {
        margin-bottom: 70px!important;
      }

      .paragraph, .card-x .card-x__p {
        font-size: 18px;
        line-height: initial;
      }

      .h3 {
        font-size: 24px;
        margin-bottom: 16px;
      }

      .footer-banner {
        padding: 45px 20px;
      }

      .link:not(.link-button) {
        font-size: 16px!important;
      }

    }

     @media(max-width: 1215px) {
      .columns-breaker .column {
        margin-bottom: 1.2rem;
      }
    }

    
  </style>
</head>

<body>
  <!-- NavBar va a todo lo ancho -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{siteRootPath}}}/index.html">
        <img src="{{{uiRootPath}}}/img/rebrand-logo-dark-new.png" width="112" height="28">
      </a>
    </div>

    <div class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item" href="{{{siteRootPath}}}/product-docs/">
          DX Core
        </a>

        <a class="navbar-item" href="{{{siteRootPath}}}/paas/">
          DX Cloud
        </a>

        {{!-- <a class="navbar-item" href="https://www.magnolia-cms.com/get-started/demo.html" target="_blank">
          Get Magnolia
        </a> --}}

        <div class="navbar-item navbar-item--button">
          <span class="control">
            <a class="button is-primary" href="https://www.magnolia-cms.com/get-started.html" target="_blank">Get Magnolia</a>
          </span>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div data-aos="zoom-in-up" class="column">
            <h1 class="title titled is-1 mb-5" id="hero-header">
              Documentation
              <!-- <span id="typewriter"></span> -->
            </h1>
            <div id="docsearch"></div>
            <h2 class="subtitle subtitled">
            </h2>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Hero del producto -->
  <section class="hero is-white is-fullheight has-image">
    <div class="hero-body">
      <div class="container">
        <div class="columns reverse-columns first-col">
         <!--  <div class="column
          is-10-mobile 
          is-10-tablet 
          is-5-desktop 
          is-5-widescreen 
          is-5-fullhd " data-aos="fade-down">
            <img src="{{{uiRootPath}}}/img/rebrand-icon-white.svg" id="get-to-know-magnolia" alt="">
          </div> -->
          <div data-aos="fade-down" class="column
          is-12-mobile
          is-7-tablet
          is-6-desktop
          is-6-widescreen
          is-6-fullhd">
            <h2 class="subtitled subtitle">
              Our latest releases are:
            </h2>
            <p class="paragraph">
              <a class="link-button button is-primary" href="{{{siteRootPath}}}/product-docs/6.3/releases/release-notes-for-magnolia-cms-6.3.5/"> Magnolia 6.3.5</a>
              <a class="link-button button is-primary" href="{{{siteRootPath}}}/product-docs/6.2/releases/release-notes-for-magnolia-cms-6.2.56/"> Magnolia 6.2.56</a>
            </p>
            <p class="paragraph">
              Magnolia's modular architecture is well-suited for building industry-specific solutions that require scalability, reliability and excellent support.
            </p>
            <div class="buttons">
              <a class="link" href="{{{siteRootPath}}}/product-docs/6.3/">
                Learn more
              </a>
            </div>
          </div>
        </div>
        <div class="columns">
           <div class="column is-6-desktop is-10-tablet">
            <h3 class="h3 h3--green">See the documentation that suits your Magnolia experience</h3>
          </div>
        </div>

        <div class="columns columns-breaker">

          <div class="column is-4-widescreen is-6-desktop is-6-tablet">
            <div class="card-x">
              <h3 class="card-x__title h3"><i class="fa fa-code" aria-hidden="true"></i> Developers</h3>
              <p class="card-x__p">Get to know the technical setup for Magnolia. Get started with tutorials, learn how to create your own modules for Magnolia, or try out our APIs. In the Developers section, you find the set of tools required for development.</p>
              <div class="card-x__link-w">
                <a class="card-x__link link" href="{{{siteRootPath}}}/product-docs/developing/">Learn more</a>
              </div>
            </div>
          </div>

          <div class="column is-4-widescreen is-6-desktop is-6-tablet">
            <div class="card-x">
              <h3 class="card-x__title h3"><i class="fa fa-cogs" aria-hidden="true"></i> Headless</h3>
              <p class="card-x__p"> Create flexible, multi-channel experiences with Magnolia's headless architecture and light development, perfect for seamless integration and rapid innovation.</p>
              <div class="card-x__link-w">
                <a class="card-x__link link" href="{{{siteRootPath}}}/product-docs/developing/headless/">Learn more</a>
              </div>
            </div>
          </div>

          <div class="column is-4-widescreen is-6-desktop is-6-tablet">
            <div class="card-x">
              <h3 class="card-x__title h3"><i class="fa fa-pencil" aria-hidden="true"></i> Authors</h3>
              <p class="card-x__p">Focus on using Magnolia by getting to know Admincentral. Get acquainted with editing pages, managing assets, and publishing your updates.</p>
              <div class="card-x__link-w">
                <a class="card-x__link link" href="{{{siteRootPath}}}/product-docs/authoring/">Learn more</a>
              </div>
            </div>
          </div>
         
          
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="https://www.magnolia-cms.com/.imaging/mte/corpweb2021/900-webp/dam/2024/frontpage/Homepage_Easy-Integrations.webp/jcr:content/Homepage_Easy%20Integrations.webp">
            </figure>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
              Dedicated developer docs
            </h1>
            <h2 class="subtitled subtitle">
              Install, configure, and deploy Magnolia. Use our CLI or deep-dive into light development, where no Java is required.
            </h2>
            <div class="buttons">
              <a class="button" href="https://docs.magnolia-cms.com/product-docs/6.2/getting-started-with-magnolia/installing-magnolia/">Install Magnolia</a>
              <a class="button" href="https://docs.magnolia-cms.com/product-docs/6.2/getting-started-with-magnolia/">Try it out</a>
              <a class="button" href="https://docs.magnolia-cms.com/headless/">Headless development</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
              Authoring docs built for Magnolia end users
            </h1>
            <h2 class="subtitle subtitled">
              Learn how to manage pages in Magnolia, effectively search for content, or better understand the publishing workflow.
            </h2>
            <div class="buttons">
              <a class="button" href="https://docs.magnolia-cms.com/product-docs/6.2/authoring/">Authoring introduction</a>
              <a class="button" href="https://docs.magnolia-cms.com/product-docs/6.2/authoring/publishing/">Publishing overview</a>
            </div>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="https://www.magnolia-cms.com/.imaging/mte/corpweb2021/900-webp/dam/2024/frontpage/Homepage_Unified-Authoring.webp/jcr:content/Homepage_Unified%20Authoring.webp">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6">
              Magnolia 6.3 <span id="typewriter"></span>
            </h1>
            <h2 class="subtitle subtitled">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </h2>
          </div>
        </div>

      </div>
    </div>
  </section> -->

 <section class="footer-banner">
   <div class="container">
     <h2 class="h1">Get started with a free demo</h2>
     <a class="link-button button is-primary" href="https://www.magnolia-cms.com/get-started/demo.html">Book a Demo</a>
   </div>
 </section> 
{{> footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['composable', 'collaborative', 'modular', 'performant', 'made by the best'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    var navbarToggles = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)
    if (navbarToggles.length === 0) return
    navbarToggles.forEach(function (el) {
      el.addEventListener('click', function (e) {
        e.stopPropagation()
        el.classList.toggle('is-active')
        document.getElementById(el.dataset.target).classList.toggle('is-active')
        document.documentElement.classList.toggle('is-clipped--navbar')
      })
    })
  })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  <script type="text/javascript">

docsearch({
  container: '#docsearch',
  appId: 'IIQKXJ786V',
  apiKey: '450fd6db7d4e2f26607012f0d8683a29',
  indexName: 'dev_DOCS',
  searchParameters: { hitsPerPage: 12, attributesToHighlight: ["hierarchy.lvl0"] },
});

</script>

</body>

</html>
